Ques1. What are data structures, and why are they important?

Ans. Data structure is a way of organizing and storing the data. It is important to accessed and manipulating data efficiently.

Ques2. Explain the difference between mutable and immutable data types  
with examples?

Ans. Their are two different two types of data Mutable and immutable. mutable data is a data type which can be edit and manipulated, and immutable data type are those data type that can not be edit or manipulated.

Ques3. What are the main differences between lists and tuples in Python?

Ans. lists are collection of items that can store many types of data like heterogenous data (integer, float, strings, and complex no. etc.) and lists are mutable.
tuples are ordered collection of data it is also hetrogenous data, tuples are immutable type of data.

Ques4. Describe how dictionaries store data?

Ans. dictionaries are the data structure that stores data as key and value pair, keys are unique and immutable, dictonaries are unordered collection of data.

Ques5. Why might you use a set instead of a list in Python?

Ans. set are unordered and unique collection of elements. It does not allow duplicate elements. It is also unordered collection of elements which means idexing will not work in sets.In the list use can use duplicate elements, it is also ordered collection of elements, and list are also mutable.

Ques6. What is a string in Python, and how is it different from a list?

Ans. Strings is a sequence of character that represents the textual data in ("") that can be accessed, manipulated. strings are immutalble. strings can only have elements in character. In list their are many kind of elements including list. Their are many funtion that can be performed in the list like .append, .insert, .pop, deep copy, and shallow copy etc.

Ques7. How do tuples ensure data integrity in P
Ans. tuples are ordered collectio of elements it is also hetrogenous data type, as tuples are immutable so it is not editable are manipulated.

Ques8. What is a hash table, and how does it relate to dictionaries in Python?

Ans. hash table is a data structure that stores data in form of key-value pair which helps for better data retrival. dictionaries are digital format of hash table that stores data in key-value format. so when you need to call a funtion you can use keys so code will go to the particular key as key are unique.

Ques9. Can lists contain different data types in Python?

Ans. lists can contain different data types as it is hetrogenous, Think it like a mom's shopping bag where you can put anything and in any format.

Ques10. Explain why strings are immutable in Python?

Ans.

Ques11. What advantages do dictionaries offer over lists for certain tasks?

Ans. dictionaries is used to access the data easily and efficiently just via the key value where in lists you need to determine the indexing funtion.

Ques12. Describe a scenario where using a tuple would be preferable over a list?

Ans. tuples are immutable funtion and list is a mutable funtion as their are certain criteria that is never need to change or update in that criteria tuples would be a preferable option over a list.
ex. Their are customer_id or roll no. this kind of data never changes.

Ques13. How do sets handle duplicate values in Python?

Ans. Sets does not handle the duplicate values as it's is a funtion the is used to handel the unique data.

Ques14.  How does the “in” keyword work differently for lists and dictionaries?

Ans. In keyword is funtion that uses in the dictionaries where it looks for key not the value, "in"keyword in the list looks for value that is a little slow process.

Ques15. Can you modify the elements of a tuple? Explain why or why not?

Ans. no, we can not modify the elements of a tuple as it's is a immutalbe funtion.

Ques16. What is a nested dictionary, and give an example of its use case?

Ans. Nested dictionary is way of format to store the data in dictionary inside the dictionary that hold more complex the data.
Ex. Let's assume their is a file and inside that file their is more file to handle more complex data.

Ques17. Describe the time complexity of accessing elements in a dictionary?

Ans. The time complexity of accessing elements in a dictionary is constant no matter their are 100 or million elements inside the dictionary.

Ques18. In what situations are lists preferred over dictionaries?

Ans. lists are preferred over dictionaries when you don't want to access the data by key-value pair. lists used for ordered collection of data, need to store the duplicate elements, or need to access index poisoing.

Ques19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans.
Ques20. Explain the difference between a list and a dictionary in terms of data retrieval?

Ans.

In [1]:
#practical Questions
# Write a code to create a string with your name and print it?
name ="Sagar sahu"
name

'Sagar sahu'

In [2]:
# Write a code to find the length of the string "Hello World"?
s= "Hello World"
len(s)

11

In [13]:
# Write a code to slice the first 3 characters from the string "Python Programming"?
s = "Python programming"
s[0:3]

'Pyt'

In [16]:
# Write a code to convert the string "hello" to uppercase?
s = "hello"
s.upper()

'HELLO'

In [17]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"?
s = "I like apple"
s.replace("apple","orange")

'I like orange'

In [18]:
# Write a code to create a list with numbers 1 to 5 and print it?
s = [1,2,3,4,5]
s

[1, 2, 3, 4, 5]

In [21]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]?
s = [1,2,3,4]
s.append(10)
s

[1, 2, 3, 4, 10]

In [23]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
s = [1,2,3,4,5]
s.remove(3)
s

[1, 2, 4, 5]

In [24]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
s= ["a","b","c","d"]
s[1]

'b'

In [25]:
# Write a code to reverse the list [10, 20, 30, 40, 50]?
s = [19,20,30,40,50]
s[::-1]

[50, 40, 30, 20, 19]

In [28]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it?
s = (100, 200, 300)
s

(100, 200, 300)

In [31]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
s = ("red", "green", "blue","yellow" )
s[1:4]

('green', 'blue', 'yellow')

In [32]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
s =(10,20, 5, 15)
min(s)

5

In [35]:
#. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
s = ("dog", "cat", "rabbit")
s.index("cat")

1

In [36]:
#5. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.?
s = ("apple", "papaya", "kiwi")
"kiwi" in s

True

In [37]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it?
s = {"a", "b", "c"}
s

{'a', 'b', 'c'}

In [42]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1,2,3,4,5}
s.clear()
s

set()

In [46]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}?
s = {1,2,3,4}
s.remove(4)
s

{1, 2, 3}

In [47]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?
s = {1,2,3}
s1 = {3,4,5}
s | s1

{1, 2, 3, 4, 5}

In [48]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?
s = {1,2,3}
s1 = {2,3,4}
s&s1

{2, 3}

In [50]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it?
s = {"name": "sagar", "age": 28,"city": "Delhi"}
print(s)

{'name': 'sagar', 'age': 28, 'city': 'Delhi'}

In [54]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?
s = {"name": "john", "age" : 25}
s["country"] = "USA"
s

{'name': 'john', 'age': 25, 'country': 'USA'}

In [56]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?
s = {"name": "Alice", "age": 30}
s["name"]

'Alice'

In [60]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York}
s ={"name": "Bob", "age": 22, "city" : "New York"}
s.pop("city")
s

{'name': 'Bob', 'age': 22}

In [63]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?
s = { "name": "Alice", "city":"paris"}
"city" in s

True

In [68]:
# Write a code to create a list, a tuple, and a dictionary, and print them all?
s = [1,2,3,4]
s1 = (1,2,3,4)
s2 = {"name": "Ram", "City": "Delhi"}
print(s)
print(s1)
print(s2)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Ram', 'City': 'Delhi'}

In [ ]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)

In [71]:
#Write a code to create a list with strings and print the element at the third index?
s = ["ram", "sita", "hanmuman","laxman"]
s[3]

'laxman'

In [75]:
# Write a code to combine two dictionaries into one and print the result?
s = {"name": "Ram", "address" : "Ayodhya"}
s1 = {"state": "Uttar pradesh", "Country":"India"}
s2 = s | s1
s2

{'name': 'Ram',
 'address': 'Ayodhya',
 'state': 'Uttar pradesh',
 'Country': 'India'}

In [78]:
# Write a code to convert a list of strings into a set?
s = [1,2,3,4]
My_set = set(s)
print(My_set)

{1, 2, 3, 4}